@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #22313f;
    font-family: 'Roboto', sans-serif;
}

.productsButton:hover {
    background-color: #292b2c !important;
    text-decoration: none;
}

.click.collapsed > i{
    transform: rotate(-90deg);
    transition: .2s ease-in-out;
}

.click > i {
    transform: rotate(0deg);
    transition: .2s ease-in-out;
}

img {
    object-fit: contain;
    background-color: white;
}

.cyan-color {
    background-color: #00ABB3;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #1e1e24;
}

::-webkit-scrollbar-thumb {
    background: #555555
}

.btn-color {
    background-color: #8dc6ff;
}

.btn-color:hover {
    background-color: #b0d5fa;
}

h5.card-title {
    height: 48px;
    overflow: hidden;
}

.card-bg {
    background-color: #34495e;
}

.bg-color {
    background-color: #22313f;
}

.bubble-bg {
    background-color: #22313f;
}

.text-darkblue {
    color: #34495e;
}

.text-darkblue:hover {
    color: #34495e;
}

.cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
}

.custom-control-label:before{
    background-color: red;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
    background-color: black;
}

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-red {
    color: red;
}

.top-container {
    background-color: #22313f;
    z-index: 1;
}

input[type="checkbox"]:checked {
    background-color: #00ABB3;
    border-color: #00ABB3;
}